.reviews__slider
  .swiper-wrapper
    for i in content.common.reviews.items
      .swiper-slide
        .reviews__item
          p.reviews__text=i.text
          span.reviews__author=i.author
  .swiper-pagination
  .swiper-button.swiper-button-next
    svg.icon
      use(xlink:href="#ic-next")
  .swiper-button.swiper-button-prev
    svg.icon
      use(xlink:href="#ic-prev")