.modal {
  max-width: 460px;
  width: 100%;
  padding: 15px 20px;
  background-color: $white;
  &__head {
    padding-top: 10px;
    margin-bottom: 25px;
    text-align: center;
  }
  &__title {
    font-size: 28px;
    line-height: 34px;
  }
  &__subtitle {
    color: $default;
    padding-top: 10px;
  }
}

