.nav {
  &__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 18px;
  }
}
