mixin listItem(name,itemClass)
	li(class=itemClass)=name

mixin breadcrumbs(name,link,href)
	if (link)
		li.breadcrumbs__item
			a(href=href+".html").breadcrumbs__link=name
	else
		li.breadcrumbs__item=name

mixin tabBtn(href,title,active)
	if (active)
		button(data-href="#"+href, data-toggle="tab").tabs__btn.is-active=title
	else
		button(data-href="#"+href, data-toggle="tab").tabs__btn=title

