.modal__wrap(style="display:none;")
  // appointment
  #appointment.modal
    .modal__head.text-center
      // h3.modal__title=content.general.modal.appointment.title
    .modal__content
      // form