#topper {
	position: fixed;
	z-index: 9999;
	height: 90px;
	width: inherit;
	top: 0;
	left: 0;
	right: 0;
}
#topper .side {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#topper .side.current {
	visibility: visible;
	z-index: 9;
}
#topper .menu .column {
	position: relative;
}
#topper .menu .column:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.15);
}
#topper .menu .column:first-child:before {
	display: none;
}
#topper .menu .button:hover {
	background-color: rgba(255, 255, 255, 0.15);
}
#topper .menu .logo {
	display: block;
	height: 50px;
	margin: -10px 0;
	font-size: 0;
	line-height: 0;
	background: url('../images/sprite_main.png') -10px -10px no-repeat;
}
#topper .statusbar {
	min-height: 40px;
}
#topper .statusbar .logo {
	display: block;
	height: 40px;
	margin: -10px 0;
	font-size: 0;
	line-height: 0;
	background: url('../images/sprite_main.png') -10px -60px no-repeat;
}
#topper .statusbar .pageheader {
	height: 40px;
	line-height: 40px;
}
#topper .statusbar .enter {
	margin: 5px 10px;
}
#topper .statusbar .enter .button {
	display: inline-block;
}
#topper .statusbar .user {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#topper .statusbar .user:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background: url('../images/sprite_main.png') -570px -20px no-repeat;
}
#topper .statusbar .user:hover:before {
	background-position: -570px -70px;
}
#topper .statusbar .usermenu {
	width: inherit;
}
#content {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	padding: 90px 0 50px 0;
}
#footer {
	height: 50px;
	margin-top: -50px;
}
#footer .column {
	margin: 15px 10px;
}
#footer .logo {
	display: block;
	height: 50px;
	margin: -15px 0;
	font-size: 0;
	line-height: 0;
	background: url('../images/sprite_main.png') -50px -10px no-repeat;
}
#footer .callback {
	margin: 0 10px;
}
#footer a {
	color: #fff;
}
#footer .callback .button {
	float: left;
	height: 50px;
	padding: 15px 13px;
	border-radius: 0;
}
#footer .callback .writeus {
	width: 160px;
}
#footer .callback .vk:after {
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
}
#indexpromo .point {
	position: relative;
	padding: 160px 0 10px 0;
}
#indexpromo .point:before {
	content: "";
	position: absolute;
	width: 300px;
	height: 140px;
	top: 0;
	left: 50%;
	margin-left: -150px;
	background: url('../images/sprite_decor.png') no-repeat;
}
#indexpromo .reviews:before {
	background-position: -10px -10px;
}
#indexpromo .rating:before {
	background-position: -320px -10px;
}
#indexpromo .tools:before {
	background-position: -630px -10px;
}
#indexpromo .point .description {
	background-color: #fff;
	padding: 10px;
}
#indexpromo .point .description .action {
	position: relative;
	padding-top: 10px;
}
#indexpromo .point .description .action:before {
	content: "";
	position: absolute;
	top: 0;
	left: -10px;
	right: -10px;
	height: 1px;
	background-color: #eee;
}
#indexpromo .point .description .action .button {
	display: inline-block;
}
#regpromo .columns .column {
	margin: 0 10px;
}
#regpromo .header {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 50px;
}
#regpromo .point {
	margin: 40px 0;
}
#regpromo .point .pointheader {
	display: block;
	font-size: 18px;
}
#regpromo .button.reg {
	display: inline-block;
	margin-top: 10px;
}
#regpromo .propeller {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 460px;
	height: 580px;
	margin-left: -230px;
	margin-top: -290px;
	background: url('../images/propeller_uznaisu.png') center center no-repeat;
	opacity: 0;
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-animation:
		fadeIn 0.5s ease both,
		scaleIn 1s ease both;
	-o-animation:
		fadeIn 0.5s ease both,
		scaleIn 1s ease both;
	animation:
		fadeIn 0.5s ease both,
		scaleIn 1s ease both;
}
#regpromo .propeller .graycircles {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 240px;
	height: 180px;
	margin-left: -120px;
	margin-top: -90px;
	background: url('../images/propeller_graycircles.png') center center no-repeat;
	opacity: 0;
	-webkit-animation: fadeIn 0.5s ease 1.75s both;
	-o-animation: fadeIn 0.5s ease 1.75s both;
	animation: fadeIn 0.5s ease 1.75s both;
}
#regpromo .propeller .pointicons {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 460px;
	height: 380px;
	margin-left: -230px;
	margin-top: -190px;
	opacity: 0;
	-webkit-animation:
		fadeIn 0.5s linear 0.25s both,
		revrotateIn 1.5s linear 0.25s both;
	-o-animation:
		fadeIn 0.5s linear 0.25s both,
		revrotateIn 1.5s linear 0.25s both;
	animation:
		fadeIn 0.5s linear 0.25s both,
		revrotateIn 1.5s linear 0.25s both;
}
#regpromo .propeller .pointicons .pointicon {
	position: absolute;
	display: block;
	width: 120px;
	height: 140px;
	background: url('../images/sprite_regpromo.png') no-repeat;
	-webkit-animation:
		rotateIn 1.5s linear 0.25s both;
	-o-animation:
		rotateIn 1.5s linear 0.25s both;
	animation:
		rotateIn 1.5s linear 0.25s both;
}
#regpromo .propeller .pointicons .database {
	background-position: 0 0;
	top: 0;
	left: 50px;
}
#regpromo .propeller .pointicons .multiorder {
	background-position: -130px 0;
	top: 120px;
	left: 0px;
}
#regpromo .propeller .pointicons .reviews {
	background-position: -260px 0;
	bottom: 0px;
	left: 50px;
}
#regpromo .propeller .pointicons .rating {
	background-position: -390px 0;
	top: 0px;
	right: 50px;
}
#regpromo .propeller .pointicons .online {
	background-position: -520px 0;
	top: 120px;
	right: 0px;
}
#regpromo .propeller .pointicons .tools {
	background-position: -650px 0;
	bottom: 0px;
	right: 50px;
}
#companyhead h1 .statuscompany {
	vertical-align: top;
	margin-left: 20px;
}
#companyhead .navigation .pagination {
	width: 560px;
}
#companyhead .navigation > .column {
	margin-bottom: 0;
}
#companyhead .shortinfo > .column  {
	margin-bottom: 0;
}
#companyhead .logobox {
	height: 140px;
	padding: 15px;
	background-color: #fff;
}
#companyhead .logobox .container {
	display: table-cell;
	width: 190px;
	height: 110px;
	vertical-align: middle;
}
#companyhead .stats .ratingbox {
	position: relative;
	margin-top: 40px;
}
#companyhead .stats .ratingbox:before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: -20px;
	height: 1px;
	background-color: #bdc3c7;
}
#pagecompanystats .stats .ratingbox {
	position: relative;
	margin-top: 40px;
}
#pagecompanystats .stats .ratingbox:before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: -20px;
	height: 1px;
	background-color: #bdc3c7;
}
#pagecompanystats .reviewschart {
	position: relative;
}
#pagecompanystats .reviewschart:before,
#pagecompanystats .reviewschart:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #bdc3c7;
}
#pagecompanystats .reviewschart:before {
	left: -20px;
}
#pagecompanystats .reviewschart:after {
	right: -20px;
}
#pagecompanystats .reviewschart .chartcontainer,
#pagecompanystats .reviewschart .legendbasic {
	margin-top: 0;
	margin-bottom: 0;
}
#pagecompanystats .allaverages {
	padding-left: 20px;
}
#pageblog {
	position: relative;
}
#pageblog .sidebar {
	position: fixed;
	z-index: 99;
	top: 90px;
	bottom: 0;
	left: 0;
}
#companyhead + #pageblog .sidebar {
	position: absolute;
	top: 0;
	bottom: -50px;
}
#pageblog .sidebar + .paperslist {
	margin-left: 40px;
}
#pageblog .sidebar.show + .paperslist {
	margin-left: 300px;
}
#pagesearch {
	background-color: #bdc3c7;
	padding: 5px 0;
}
#myMap {
	width: 100%;
	height: 440px;
}
@media screen and (min-height:770px) {
	#myMap {
		height: 560px;
	}
}
@media screen and (min-height:920px) {
	#myMap {
		height: 710px;
	}
}
@media screen and (min-width:240px) and (max-width:980px) {
	#topper {
		position: absolute;
		z-index: auto;
	}
}